h2 {
  display: inline;
}

row {
  margin: 20px 20px;
}

.btn-primary {
  color: white;
  background-color: #244f91;
  border-color: #2b4060;
}

.btn-primary:hover {
  background-color: #2b4060;
  border-color: #2b4060;
}

.city-search-button {
  color: red;
}

.current-city {
  color: #2b4060;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  padding-top: 15px;
  text-transform: capitalize;
}

.current-city-button {
  margin-left: -100px;
}

.current-city-info {
  background-color: rgb(227, 232, 247, 0.7);
}

.current-temp {
  color: #2b4060;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h2 .active {
  color: #2b4060;
  cursor: default;
  text-decoration: none;
}

h2 .active:hover {
  text-decoration: none;
}

.day {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.date,
.day-date-time {
  color: #2b4060;
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  line-height: 1.5;
}

.description {
  text-transform: capitalize;
}

.forecast-emoji {
  padding-bottom: 5px;
  text-align: center;
}

.future-forecast-day {
  background-color: rgb(227, 232, 247, 0.7);
  border: 1px solid #000;
  color: #2b4060;
  padding: 10px 15px 0 15px;
}

.high-low {
  color: #2b4060;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.open-sourced {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  padding-left: 167px;
}

.precipitation {
  margin-top: 20%;
}

.primary-weather {
  background-color: rgb(227, 232, 247, 0.7);
  border: 1px solid #000;
  color: #2b4060;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 0px 15px;
}

.primary-weather-emoji {
  background-color: transparent;
  font-size: 98px;
  text-align: center;
}
.units {
  font-size: 16px;
}

.weather-app-body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/230/original/weatherappbackground.jpg?1663225578");
  background-size: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 50px auto 5px;
  max-width: 70%;
  padding: 20px;
}

.weather-app-body::before {
  color: #000;
}

.weather-details {
  align-items: center;
  display: flex;
}

#icon {
  height: 150px;
  width: 150px;
}
